<% if users.any? %>
  <ul class="list-unstyled mt-2">
    <% @user.likes.each do |like| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(like.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to like.user.name, user_path(like.user), class: "text-decoration-none" %><span class="text-muted"> posted at <%= like.created_at %></span>
          </div>
          <div>
            <p><%= like.content %></p>
          </div>
          <div>
            <% if current_user.favoring?(micropost) %>
              <%= form_with(model: current_user.favorites.find_by(micropost_id: like.user.id), method: :delete) do |f| %>
                <%= hidden_field_tag :micropost_id, like.user.id %>
                <%= f.submit 'unFavo', class: 'btn btn-danger w-100' %>
              <% end %>
            <% else %>
              <%= form_with(model: current_user.favorites.build) do |f| %>
                <%= hidden_field_tag :micropost_id, like.user.id %>
                <%= f.submit 'Favo!', class: 'btn btn-primary w-100' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
